.menu {
	position: relative;
	height: 0;
}

.trigger {
	display: inline-block;

	padding: 1rem;
}

.dropdown {
	display: none;

	/* clear ul styles */
	list-style: none;
	margin: 1rem 0 0;
	padding: 0;

	flex-direction: column;

	position: absolute;
	max-width: 20rem;
	width: 100%;

	box-shadow: 0 0 1rem #ccc;

	& > li {
		padding: 1rem;
		transition: background 0.4s;

		&.active,
		&:hover {
			background: #eee;
			transition: background 0s;
		}
	}

	.toggled & {
		display: flex;
	}
}
